DerivedDataCache/
Intermediate/
Saved/
Content/LevelPrototyping/
Content/ThirdPerson/
Content/Characters/Mannequin_UE4/
Content/Characters/Mannequins/Rigs/Poses/
Content/Characters/Mannequins/Textures/
Content/Characters/Mannequins/Materials/
Content/Characters/Mannequins/Animations/
Content/__ExternalObjects__/
Content/__ExternalActors__/