DerivedDataCache/
Intermediate/
Saved/
Content/LevelPrototyping/
Content/ThirdPerson/
Content/Characters/Mannequin_UE4/
Content/Characters/Mannequins/
Content/Characters/Mannequins/Meshes/SKM_*
Content/Characters/Mannequins/Rigs/Poses/
Content/Characters/Mannequins/Textures/